.container-main {
  background-color: var(--color-grey-light-2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background-color: rgb(250, 250, 250);
  max-height: 8vh;
  border-bottom: var(--line);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  color: #fff;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.legal {
  display: inline-block;
  padding: 3rem 2rem;
  color: var(--color-grey-dark-2);
  text-align: center;

  font-size: 1.3rem;
}

.hotel-view {
  min-height: 92vh;
  background-color: var(--color-grey-light-3);
  flex: 1;
}

.detail {
  margin: 5rem;
  display: flex;
  border-bottom: var(--line);
}

.description {
  box-shadow: var(--shadow-dark);
  border-radius: 3px;
  flex: 0 0 60%;
  padding: 3rem;
  p {
    margin-bottom: 2rem;
  }
}

.user-reviews {
  margin-left: 4.5rem;
  flex: 1;
}
.dispo {
  text-align: center;
  padding: 3rem 0;
  background-color: var(--color-grey-light-1);
  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}
